<p id="notice"><%= notice %></p>

<p>
  <b>File Name:</b>
  <%= @import_table.csv_file_name %>
  <br/>
  <b>Content Type:</b>
  <%= @import_table.csv_content_type %>
  <br/>
  <b>File Size:</b>
  <%= @import_table.csv_file_size %>
  <br/>
  <b>Updated At:</b>
  <%= @import_table.csv_updated_at %>
</p>

<%= raw will_paginate @rows_of_cells %>
<%= form_for :merge do |f| -%>
  <table border="1" cellspacing="1" cellpadding="1">
    <tr>
      <% 0.upto(@number_of_columns - 1) do |column_index| %>
        <th>
          <%= f.select(column_index, []) %>
        </th>
      <% end %>
    </tr>
    <% @rows_of_cells.each do |cells| %>
      <tr>
        <% cells.each do |cell| %>
          <td>
            <%= cell %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <label><%= 'Select a table for merging:' %></label>
  <%= f.select(:table, @tables.collect { |t| [t, t] }, { :include_blank => true }, { :onchange => "mergeTableSelected();" }) %>
  <%= f.submit "Merge", :disable_with => 'Merging...' %>
<% end -%>

<%= javascript_tag do -%>
  var columns = new Array();
  <% for table in @tables -%>
    <% for column in ActiveRecord::Base.const_get(ActiveRecord::Base.class_name(table)).columns -%>
      columns.push(new Array('<%= table %>', '<%= column.name %>'));
    <% end -%>
  <% end -%>
  function mergeTableSelected() {
    var o = $('select#merge_table option:selected');
    $('th select option').remove();
    $('th select').each(function(i, select) {
      select.options.add(new Option());
      $.each(columns, function(j, column) {
        if (o.text() == column[0]) {
          select.options.add(new Option(column[1]));
        }
      });
    });
  }
<% end -%>

<%= link_to 'Edit', edit_import_table_path(@import_table) %> |
<%= link_to 'Back', import_tables_path %>
